
<%= form_with model: @order, url:menu_card_user_order_path, method: :patch do |form| %>

  <div>
    <%= form.label :qntity  %>
    <%= form.number_field :qnty %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
