<h1>Order Detils </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quntity<th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.eager_load(:menu_card) do |order| %>
   
       <tr> 
        <td><%= order.qnty %></td>
        <td><%=  orders.menu_card.name  %></td>
        
       </tr>
   
    <% end %>
  </tbody>
</table>
 </center>

 